.DateOfBirthSelect {
  &__grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 35px;
    width: 100%;
  }

  &__select {
    width: 90px;
    font-size: 16px;
    color: $color-primary;
    background:$bg-primary;
    border-radius: 5px;
    cursor: pointer;

    &--error {
      border-color: #b94a48;
    }

    @media (min-width: 539px) {
      width: 110px;
    }
  }

  label {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: $color-primary;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $color-secondary;
    padding: 0 10px;

    @media (min-width: 539px) {
      width: 110px;
    }
  }
}