.UserMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 360px;
  border-radius: 10px;
  background: $bg-primary;
  box-shadow: 2px 2px 2px $shadow-1;
  user-select: none;
  padding: 10px;

  &__header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    gap: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__column {
    @include flex-center-column;

    span:first-of-type {
      @include menu-main-first-column-item;
    }

    span:last-of-type {
      font-size: 14px;
    }
  }

  @media (max-width: 400px) {
    width: 340px;
  }
}