.SearchMenu {
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  min-height: 400px;
  max-height: 70vh;
  padding: 8px 16px 10px 6px;

  &__wrap {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__search {
    padding: 10px 44px 10px 12px;
    width: 252px;
    gap: 4px;

    input {
      padding-left: 4px;

      &::placeholder {
        transform: translateY(-2px);
      }

      &:focus::placeholder {
        transform: translateY(-1px);
      }
    }

    svg {
      transform: translateY(1px);
    }
  }

  &__history {
    width: 100%;
  }

  &__history-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;

    span {
      font-weight: 600;
      font-size: 16px;
    }

    a {
      cursor: pointer;
      color: var(--blue-color);
    }
  }

  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

