.CreatePost {
  background: $bg-primary;
  border-radius: 10px;
  box-shadow: 0 1px 2px $shadow-1;
  margin-top: 1.1rem;
  width: 100%;
  cursor: pointer;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 17px 5px 15px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__open-post {
    background: $bg-forth;
    color: $color-secondary;
    height: 41px;
    flex: 1;
    border-radius: 50px;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-left: 10px;

    @media (max-width: 620px) {
      font-size: 16px;
    }
  }

  &__splitter {
    height: 1px;
    width: 95%;
    background: $bg-third;
    margin: 7px 10px;
  }

  &__body {
    padding: 0 10px 8px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    padding: 7px;
    color: $color-secondary;
    border-radius: 10px;
    font-size: 14px;

    @media (max-width: 620px) {
      font-size: 12px;

      svg {
        width: 20px;
      }
    }
  }

  @media (max-width: 1175px) {
    width: 84%;
  }

  @media (max-width: 1030px) {
    width: 100%;
  }

  @media (max-width: 960px) {
    width: 93%;
  }

  @media (max-width: 885px) {
    width: 110%;
  }

  @media (max-width: 620px) {
    width: 100%;
  }
}