.Reset {
  background: $bg-secondary;
  height: 100vh;
  color: $color-primary;

  &__header {
    background: $bg-primary;
    box-shadow: 1px 8px 15px -7px $shadow-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 50px;

    img {
      width: 160px;
    }
  }

  &__right-reset {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__wrap {
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  &__left {
    padding: 15px;

    input {
      width: 20px;
      height: 20px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__label-col {
    display: flex;
    flex-direction: column;
  }

  &__dynamic-height {
    height: 430px;

    @media (min-width: 650px) {
      height: 330px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 15px;
    color: $color-secondary;

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding: 5px;
    }

    @media (min-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__conf-password-error {
    transform: translateY(62px) !important;
  }

  &__conf-password-error .ErrorMessage__arrow--left {
    transform: rotate(180deg) translateY(65px);
  }

  &__err-res-password {
    transform: translateY(-16px) !important;
  }

  &__err-res-password .ErrorMessage__arrow--left {
    transform: translateY(19px);
  }
}

.ResetForm {
  position: relative;
  background: $bg-primary;
  box-shadow: 0 1px 2px $shadow-1;
  border-radius: 10px;
  width: 100%;
  height: fit-content !important;

  &__header {
    padding: 15px;
    font-weight: 600;
    font-size: 24px;
    border-bottom: 1px solid $bg-third;
  }

  &__text {
    padding: 15px;
    font-size: 17px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  &__actions {
    display: flex;
    align-self: flex-end;
    gap: 10px;
    margin-top: 5px;
    position: relative;
    width: 100%;
    padding: 10px 0 10px 65%;
    border-top: 1px solid $bg-third;

    a, button {
      width: 90px;
    }

    @media (max-width: 450px) {
      padding-left: 50%;
    }
  }

  @media (max-width: 350px) {
    height: fit-content;

    form input {
      width: 290px;
    }

    .LoginInput__input--error {
      width: 290px;
    }

    i {
      right: 20px;
    }

    &__actions {
      padding-left: 40% !important;
    }
  }

  @media (min-width: 650px) {
    width: 570px;

    &__actions {
      padding-left: 65%;
    }
  }

  @media (min-width: 850px) and (max-width: 1050px) {
    .LoginInput__input--error {
      left: 0;
      top: -60px;
      width: 100%;
    }

    .ErrorMessage__arrow--left {
      border-top: 10px solid #b94a48;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: 45px;
      left: 10px;
      width: 10px;
    }
  }

  @media (min-width: 1050px) {
    .ErrorMessage__desktop {
      width: 320px;
      left: -92%;
    }
  }
}
