.Popup {
  background: $bg-primary;
  box-shadow: 0 1px 2px $shadow-1;
  width: 300px;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  border-radius: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid $bg-third;
    padding: 15px;

    &--error {
      color: $error-color;
    }

    &--success {
      color: $green-color;
    }
  }

  &__message {
    padding: 15px;
    font-weight: 500;
  }
}

@media (max-width: 805px) {
  .popup {
    width: 70vw !important;
  }
}
