.HeaderSearch {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background: $bg-forth;
  padding: 10px 32px 10px 10px;
  border-radius: 50px;
  cursor: text;
  z-index: 999;
  height: 40px;

  &__input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 15px;
    font-family: inherit;

    &::placeholder {
      transform: translateY(-1px);
    }

    @media (max-width: 1040px) {
      display: none;
    }
  }

  @media (max-width: 1040px) {
    width: 40px;
    justify-content: center;
    padding: 0;
  }
}

/* Override styles when .HeaderSearch--menu-visible is applied */
.HeaderSearch--menu-visible {
  top: 8px;
  position: absolute;
  width: auto;
  justify-content: flex-start;
  padding: 10px 32px 10px 10px;

  & .HeaderSearch__input {
    display: block;
  }

  /* Cancel out the media query */
  @media (max-width: 1040px) {
    width: auto;
    padding: 10px 32px 10px 10px;
  }
}
